body{
    margin: 0;
    padding: 0;
}

.heading{
    background-image: url(images/bannner\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    margin-top: -20px;
    margin-bottom: 150px;
}

.head-article{
    padding-top: 150px;
    padding-left: 80px;
    text-align: center;
}

.head-article h1{
    font-size: 60px;
    font-weight: 700;
    color: rgb(226, 17, 17);
}

.head-article p{
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.btn {
    color: white;
    background-color: rgb(240, 143, 26);
    background-image: linear-gradient(to left, rgb(209, 45, 141), darkorange);
    padding: 10px 15px;
    font-weight: 700;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
}

.btn:hover{
    font-size: 20px;
    padding:20px 50px;
    background-image: linear-gradient(to right, rgb(17, 77, 17), rgb(46, 23, 23));
    cursor: pointer;
    color: rgb(247, 234, 210);
}

.main-article{
    width: 100%;
    margin-bottom: 150px;
    display: flex;
    height: 500px;
}


.half-width{
    width: 45%;
    padding:0 5%;
}
.half-width h1 {
    font-size: 45px;
    font-weight: 700;
}
.half-width p{
    font-size: 20px;
    font-weight: 700;
}

.figure-img img{
    width: 80%;
    height: 100%;
}

.midd-article{
    text-align: center;
    margin-bottom: 100px;
}
.midd-article h1{
    font-size: 35px;
    font-weight: 700;
}
.midd-article p{
    font-size: 18px;
    font-weight: 600;

}

.box-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}
.box-1{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.box {
    background-color: brown;
    margin: 1px;
    padding: 20px 20px;
    margin-left: 50px;
    margin-right: 50px;
}